.editable {
	font-family: monospace !important;
    font-size: large !important;
	max-width: 78ch;
	word-wrap: break-word;
}

*.a3s.aiL {
    font-size: medium !important;
    font-family: "Lato" !important;
}
